@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@100;300;400;900&display=swap');
/* Selecciones universales */
:root {
    --color-fondo:#1f2023;
    --verde: #4d6d63;
    --verde-claro:#a6c1b9;
    --verde-claro2: #d6e2de;
    --verde-oscuro:#2b3d37;
    --blanco-letras:#e8eaed;
    --ancho-general:55vw;

    /* RESPONSIVE */
    --ancho-celu:40vw;
    --ancho-tablet:45vw;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: Poppins, sans-serif;
   background-color: var(--color-fondo);
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* fieldset {
    margin: 5px;
} */

label, .fieldset__label {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-family: Roboto;
}

span {
    font-size: 1.3em;
}

[type*='text'], [type*='number'], [type*='email'] {
    width: 70%;
    height: 3em;
    text-align: center;
    border-radius: 5px;
    border: 1px var(--verde) solid;
    text-align: right;
    margin: 15px;
}

input, select, textarea {
    margin: 15px;
}

input:focus,  textarea:focus {
    background-color: var(--verde);
    color: white;
}

textarea {
    width: 70%;
    height: 15em;
    border-radius: 5px;
    border: 1px var(--verde) solid;
}

#email {
    padding: 15px;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

h1 {
    display: inline;
    text-align: center;
    width: var(--ancho-general);
    margin: 20px;
    font-size: 4.5em;
    font-weight: 900;
    color: #e8eaed;
    border-top: 25px var(--verde) solid;
    border-bottom: 25px var(--verde) solid;
    border-left: 25px var(--color-fondo) solid;
    border-right: 25px var(--color-fondo) solid;
}



/* DATOS PERSONALES */


.fieldset {
    width: var(--ancho-general);
    background-color: var(--verde-claro2);
    border: 2px var(--verde) solid;
    border-radius: 2px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}


    .fieldset__legend {
        margin: 5px 20px;
        padding: 5px;
        color: var(--blanco-letras);
        background-color: var(--verde);
        border-radius: 5px;
        font-size: 1.5em;
        font-weight: 600;
    }

    .fieldset__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .fieldset__select {
        height: 3em;
        width: 70%;
    }

        .fieldset__select option {
            font-size: 2em;
        }


    .contenedor-checkbox {
        display: flex;
    }

        input[type=radio] {
            transform: scale(1);
            margin: 5px;
        }

        [type='checkbox'] {
            transform: scale(1);
            margin-right: 10px;
        }

/* DATOS DE CONTACTO */



/* ACTIVIDADES */

.fieldset__parrafo {
    margin: 10px;
}

/* TyC */

.contenedor-checkbox-- {
    display: flex;
    flex-direction: column;
    width: var(--ancho-general);
    justify-content: flex-start;
}

    .contenedor-checkbox-- p {
        color: var(--blanco-letras);
        font-weight:bold ;
    }


    .tyc {
        margin: 5px;
    }

    .section__label {
        margin: 5px;
        padding: 0;
        color: var(--blanco-letras);
    }

    .section p {
        margin: 10px;
    }

/* BOTONES */ 

.button {
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--verde-oscuro);
    border: 2px solid var(--verde);
    font-size: 1em;
    color: var(--verde-claro);
    text-decoration: none;
}

.button:hover {
    background-color: var(--verde-claro);
    color: var(--verde-oscuro);
}


/* RESPONSIVE */ 
/*  @media screen and (min-width:320px) {
    h1 {
        width: var(--ancho-celu);
        font-size: 2em;
    }

    span {
        font-size: 1.3em;
    }

    label, .fieldset__label {
        font-size: 1em;
    }

    .fieldset {
        width: var(--ancho-celu);
        margin: 1px;
    }

        .fieldset__legend {
            font-size: 1em;
            
        }

    .contenedor-checkbox-- {
        width: var(--ancho-celu);
    }

    .button {
        font-size: 1em;
    }

 }

 @media screen and (min-width:960px) {
    h1 {
        width: var(--ancho-tablet);
        font-size: 3em;
    }

    span {
        font-size: 1.3em;
    }

    label, .fieldset__label {
        font-size: 1.5em;
    }

    .fieldset {
        width: var(--ancho-tablet);
        margin: 1px;
    }

        .fieldset__legend {
            font-size: 1em;
            
        }

    .contenedor-checkbox-- {
        width: var(--ancho-tablet);
    }
 }

 @media screen and (min-width:1320px) {
    h1 {
        width: var(--ancho-general);
    }

    span {
        font-size: 1.3em;
    }

    label, .fieldset__label {
        font-size: 2em;
    }

    .fieldset {
        width: var(--ancho-general);
        margin: 1px;
    }

        .fieldset__legend {
            font-size: 1em;
            
        }

    .contenedor-checkbox-- {
        width: var(--ancho-general);
    }
 } */
 
    










