@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@100;300;400;900&display=swap');
/* Selecciones universales */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: Poppins, sans-serif;
   background-color: #1f2023;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    margin: 5px;
}

label, .fieldset__label {
    margin: 5px;
    padding: 5px;
    display: flex;
}

input {
    width: 70%;
    text-align: center;
    margin: 0 5px 0 5px;
}

textarea {
    width: 70%;
    height: 85px;
}

.requerido::after {
    content: '* ';
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

h1 {
    display: inline;
    color: #e8eaed;
}

h1::after {
    content: '💪🏻';
}

/* DATOS PERSONALES */


.fieldset {
    width: 65vw;
    height: 90vh;
}

    .fieldset__legend {
        margin: 5px 20px;
        color: #e8eaed;
    }

    .fieldset__legend::before {
        content: '🙋🏻‍♂️';
    }

    .fieldset__legend::after {
        content: '👀';
    }

    .fieldset__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .contenedor-checkbox {
        display: flex;
    }
        .checkbox-input {
            margin: 2.5px;
        }

/* DATOS DE CONTACTO */

.fieldset__legend--2 {
    margin: 20px;
}

.fieldset__legend--2::before {
    content: '📱';
}

.fieldset__legend--2::after {
    content: '📧';
}

.fieldset--formContacto {
    height: 35vh;
}

/* ACTIVIDADES */

.fieldset__legend--3::before {
    content: '🚴🏼‍♂️';
}
.fieldset__legend--3::after {
    content: '🤸🏻‍♂️';
}

.fieldset--actividades {
    height: 45vh;
}

.fieldset__parrafo {
    margin: 10px;
}

/* TyC */

.contenedor-checkbox-- {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: flex-start;
}

    .contenedor-checkbox-- p {
        color: #e8eaed;
        font-weight:bold ;
    }


    .tyc {
        width: 12px;
        margin: 0 5px 0 0;
    }

    .section__label {
        margin: 0;
        padding: 0;
        color: #e8eaed;
    }










