@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@100;300;400;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: Roboto, Poppins, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline;
}

.emoji-brazo {
    width: 80px;
}