@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,100;1,200;1,300;1,800&display=swap');

:root {
    --color-fondo:#0c0f0a;
    --color-fondo-2:#000300;
    --color-input:#0e2a47;
    --color-boton:#2e20c3;
    --ancho:70vw;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: 'Kanit', sans-serif;
   background-color: var(--color-fondo-2);
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    width: var(--ancho);
    border-radius: 5px;
    color: white;
    font-size: 2em;
}

label, .fieldset__label {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: white;
}

span {
    font-size: 1.3em;
    color: white;
}

[type*='text'], [type*='number'], [type*='email'] {
    width: 70%;
    height: 3em;
    border-radius: 5px;
    border: 1px var(--color-input) solid;
    text-align: center;
    margin: 15px;
}

select {
    border: 1px var(--color-input) solid;
    border-radius: 5px;
    background-color: rgba(204, 204, 204, 0.322);
    color: white;
}

input, select, textarea {
    margin: 15px;
}

textarea {
    width: 70%;
    height: 15em;
    border-radius: 5px;
}

hr {
    display: none;
}

.emoji {
    display: none;
}


/* --------------------------------- */
.main {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.fieldset {
    width: var(--ancho);
    background-color: var(--color-fondo-2);
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 5000px var(--color-input);
    
    
}


    .fieldset__legend {
        margin: 5px 20px;
        padding: 5px;
        background-color: var(--color-input);
        border-radius: 5px;
        font-size: 1.2em;
        font-weight: 800;
        color:#d9fff9 ;
    }

    .fieldset__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .fieldset__select {
        height: 3em;
        width: 70%;
    }

        .fieldset__select option {
            font-size: 1.5em;
            background-color: var(--color-fondo);
        }


    .contenedor-checkbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        input[type=radio] {
            transform: scale(1);
            margin: 5px;
        }

        [type='checkbox'] {
            transform: scale(1);
            margin-right: 10px;
        }

#fieldset {
    position: relative;
    align-self: flex-start;
    width: 40vw;
    right:500px;
}

#fieldset-contacto {
    position: absolute;
    width: 30vw;
    left: 60%;
    bottom: 70%;
}

.fieldset--actividades {
    position: absolute;
    width: 40vw;
    right: -40%;
    top: 50%;
}

.fieldset__parrafo {
    margin: 10px;
    color: white;
}
        
.contenedor-checkbox- {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.contenedor-checkbox-- {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.contenedor-checkbox-- p {
    font-weight: 800;
    margin: 15px;
    color: white;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 25px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-fondo-2);
    border: 2px solid var(--color-input);
    font-size: 1em;
    color: white;
    transition: 0.2s;
}
    
.button:hover {
    color: var(--color-input);
    background-color: var(--color-boton);
    box-shadow: 0 0 10px var(--color-boton),0 0 40px var(--color-boton),0 0 80px var(--color-boton);
    transition-delay: 0.3s;
    cursor: pointer;
}

@media screen and (min-width:400px) {
    #fieldset {
        position: relative;
        align-self: flex-start;
        width: 40vw;
        left:200px;
    }
    
    #fieldset-contacto {
        position: absolute;
        width: 30vw;
        left:0;
        bottom: 70%;
    }
    
    .fieldset--actividades {
        position: absolute;
        width: 40vw;
        left:0;
        top: 29%;
    }
}

@media screen and (min-width:600px) {
    #fieldset {
        position: relative;
        align-self: flex-start;
        width: 40vw;
        left:300px;
    }
    
    #fieldset-contacto {
        position: absolute;
        width: 30vw;
        left:0;
        bottom: 70%;
    }
    
    .fieldset--actividades {
        position: absolute;
        width: 40vw;
        left:0;
        top: 29%;
    }
}

@media screen and (min-width:800px) {
    #fieldset {
        position: relative;
        align-self: flex-start;
        width: 40vw;
        left:400px;
    }
    
    #fieldset-contacto {
        position: absolute;
        width: 30vw;
        left:0;
        bottom: 65%;
    }
    
    .fieldset--actividades {
        position: absolute;
        width: 40vw;
        left:0;
        top: 40%;
    }
}

@media screen and (min-width:960px) {
    #fieldset {
        position: relative;
        align-self: flex-start;
        width: 40vw;
        left:0;
    }
        
    
    #fieldset-contacto {
        position: absolute;
        width: 30vw;
        left: 50%;
        bottom: 70%;
    }
    
    .fieldset--actividades {
        position: absolute;
        width: 40vw;
        left: 50%;
        top: 40%;
    }
}

@media screen and (min-width:1320px) {
    #fieldset {
        position: relative;
        align-self: flex-start;
        width: 40vw;
        left: -300px;
        right: 0;
    }
    
    #fieldset-contacto {
        position: absolute;
        width: 30vw;
        left: 60%;
        bottom: 65%;
    }
    
    .fieldset--actividades {
        position: absolute;
        width: 40vw;
        left:60%;
        top: 40%;
    }
}





/* #fieldset {
    position: relative;
    align-self: flex-start;
    width: 40vw;
    right:500px;
}

#fieldset-contacto {
    position: absolute;
    width: 30vw;
    left: 60%;
    bottom: 70%;
}

.fieldset--actividades {
    position: absolute;
    width: 40vw;
    right: -40%;
    top: 50%;
}
*/


