@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300;400;800&display=swap');

:root {
    --color-fondo:#ffd9a8;
    --color-input:#26ada68c;
    --color-boton:#f37f22;
    --rojito:#d64d29;
    --ancho:55vw;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: 'Trispace', sans-serif;
   background-image: url(../img/fondo1.webp);
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    border:2px solid var(--rojito);
    width: var(--ancho);
    background-color: #e6ad02a6;
    border-radius: 5px;
}

label, .fieldset__label {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

span {
    font-size: 1.3em;
}

[type*='text'], [type*='number'], [type*='email'] {
    width: 70%;
    height: 3em;
    border-radius: 5px;
    border: 1px var(--color-input) solid;
    text-align: left;
    margin: 15px;
}

select {
    border: 1px var(--color-input) solid;
    border-radius: 5px;
}

input, select, textarea {
    margin: 15px;
}

textarea {
    width: 70%;
    height: 15em;
    border-radius: 5px;
    border: 1px var(--color-input) solid;
}

hr {
    display: none;
}

.emoji {
    display: none;
}

#estilos {
    justify-content: flex-start;
    background-color: rgba(240, 248, 255, 0.397);
}

/* --------------------------------- */
.main {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: var(--ancho);
    background-color: var(--color-fondo);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 15px var(--color-input);
}

.fieldset {
    width: var(--ancho);
    border-radius: 20px;
    border-style: none;
    border-bottom: 2px solid var(--color-boton);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
    
    
}

    .fieldset__legend {
        margin: 5px 20px;
        padding: 5px;
        color: var(--rojito);
        background-color: var(--color-input);
        border-radius: 5px;
        font-size: 1.2em;
        font-weight: 800;
    }

    .fieldset__contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .fieldset__select {
        height: 3em;
        width: 70%;
    }

        .fieldset__select option {
            font-size: 1.5em;
            background-color: var(--color-fondo);
        }


    .contenedor-checkbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        input[type=radio] {
            transform: scale(1);
            margin: 5px;
        }

        [type='checkbox'] {
            transform: scale(1);
            margin-right: 10px;
        }

.fieldset--actividades {
    margin-bottom: 10px;
}


.fieldset__parrafo {
    margin: 10px;
}
        
.contenedor-checkbox- {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.contenedor-checkbox-- {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.contenedor-checkbox-- p {
    font-weight: 800;
    margin: 15px;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--rojito);
    border: 2px solid var(--color-input);
    font-size: 1em;
    color: var(--color-fondo);
}
    
.button:hover {
    background-color: var(--color-input);
    color: var(--rojito);
    cursor: pointer;
}

/* Responsive */

@media screen and (min-width:400px) {
    .form {
        width: 60vw;
    }
    
    .fieldset__legend {
        margin: 5px 10px;
        font-size: 0.8em;
    }


    .contenedor-checkbox {
        flex-direction: column;
    }

    .checkbox__input {
        align-self: flex-start;
        margin: 0;
    }

    input[type=radio] {
        margin: 0;
    }

    .contenedor-checkbox- {
        flex-direction: column;
    }

    input[type=checkbox] {
        align-self: flex-start;
    }
    
    .botones {
        flex-direction: column;
    }

    .button {
        margin: 10px;
        padding: 10px;
    }
}

 @media screen and (min-width:960px) {
    .form {
        width: var(--ancho);
    }
    
    .fieldset__legend {
        margin: 5px 10px;
        font-size: 1em;
    }


    .contenedor-checkbox {
        flex-direction: row;
    }

    .checkbox__input {
        margin: 5px;
    }

    input[type=radio] {
        margin: 5px;
        align-self: center;
    }

    .contenedor-checkbox- {
        flex-direction: row;
    }

    
    .botones {
        flex-direction: row;
    }

    .button {
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (min-width:960px) {
    .fieldset__legend {
        margin: 5px 10px;
        font-size: 1.3em;
    }

    .button {
        margin: 20px;
        padding: 20px;
        font-size: 1.5em;
    }
}



